<h4>Contact Page</h4>
<p>The best way to contact todd is via LinkedIn or through <a href="http://ww.divergentvc.com/team">Divergent Ventures</a></p>
<h4 id="socialmedia">Connect on Social Media</h4>
<span class="glyphicon glyphicon-asterisk"></span><a href="https://twitter.com/toddwseattle" class="twitter-follow-button" data-show-count="false">Follow @toddwseattle</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<span class="glyphicon glyphicon-asterisk"></span>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/toddwseattle" data-format="hover" data-related="false" data-text="Todd Warren"></script>
<span class="glyphicon glyphicon-asterisk"></span>
<a href="https://github.com/toddwseattle">Check out my profile on GitHub <img src="images/octocat.png" width="20" height="20"></a>
<h4 id="twtterfeed">Todd's Twitter Feed</h4>
<a class="twitter-timeline" href="https://twitter.com/toddwseattle" data-widget-id="585944775737479168">Tweets by @toddwseattle</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<h4 id="eddiethecavalier">Become a fan of Todd's Dog Eddie</h4>
<p>Eddie is a larger than life personality.  He is known around pike place market in Seattle for his happy personality, waggy tail, bedroom brown eyes and snaggle tooth.   Follow his Seattle antics on Facebook.  Todd acts as his promotional service animal.</p>
<img src="images/Eddie.png" width="250" height="350">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=54913720221&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="https://www.facebook.com/pages/Eddie-the-Cavalier-King-Charles-Spaniel/148320811863592?ref=hl" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
