<div class="jumbotron">
  <h1>Todd Warren</h1>
  <p class="lead">
    <br>
    Technical Innovation.&nbsp;&nbsp; Educational Entrepreneurship.
    <img src="images/toddwsmallprofile.png" alt="I'm Todd Warren">
  </p>
</div>

<div class="row marketing">
  <h4>Todd Warren</h4>
  <p>
    Todd Warren lives principally in Seattle Washington.  He is a managing director at <a href="http://www.divergentvc.com">Divergent Ventures</a>.   Todd also teaches at <a href="http://www.northwestern.edu">Northwestern University</a>, as part of the <a href="http://fcei.northwestern.edu/curriculum/nuvention/web.html">NUvention Web and Media</a> program
  </p>

  <h4>This Website</h4>
  <p>
    The website provides background information on todd, including biography, photos, and links to other work Todd is doing and the best way to get in touch.   Follow the links in the Navigation Bar above or use the slide out menu on the left to view any specific informaiton
  </p>

  <h4>More from Todd</h4>
  <p>Check out the <a href="http://toddwarreninc.com/blog">blog</a> for more extensive thoughts on his work</p>
</div>
